<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cryptowallet"
        tools:targetApi="31">
        <activity
            android:name=".BookSessions"
            android:exported="false" />
        <activity
            android:name=".EthereumPrivateKey"
            android:exported="false" />
        <activity
            android:name=".BitcoinPrivateKey"
            android:exported="false" />
        <activity
            android:name=".ViewSessions"
            android:exported="false" />
        <activity
            android:name=".StaffLogin"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".EthereumInfo"
            android:exported="false" />
        <activity
            android:name=".BitcoinInfo"
            android:exported="false" />
        <activity
            android:name=".ViewWallet"
            android:exported="false" />
        <activity
            android:name=".registerOptions"
            android:exported="false" />
        <activity
            android:name=".CustomerLogin"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".ViewKey"
            android:exported="false" />
        <activity
            android:name=".SendFunds"
            android:exported="false" />
        <activity
            android:name=".Downgrade"
            android:exported="false" />
        <activity
            android:name=".Upgrade"
            android:exported="false" />
        <activity
            android:name=".MainAccount"
            android:exported="false" />
        <activity
            android:name=".Subscription"
            android:exported="false" />
        <activity
            android:name=".Paid"
            android:exported="false" />
        <activity
            android:name=".FactorAuthentication"
            android:exported="false" />
        <activity
            android:name=".RemoveAccount"
            android:exported="false" />
        <activity
            android:name=".HistoryPageActivity"
            android:exported="false" />
        <activity
            android:name=".SendEthereum"
            android:exported="false" />
        <activity
            android:name=".SendBitcoin"
            android:exported="false" />
        <activity
            android:name=".TransactionCompleted"
            android:exported="false" />
        <activity
            android:name=".CancelSession"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>